###################################
# OS
###################################

# Mac OS
**/.DS_Store
.DS_Store

# Windows
# Folder config file
Desktop.ini

###################################
# IDE
###################################

# Jupyter
**/.ipynb_checkpoints
.ipynb_checkpoints


###################################
# Ignore CUI Data
###################################

# CUI
cui/